<div id="container">
	<div id="header"></div>

	<div id="search_container">
		<form id="location_search" class="yui3-skin-sam">
			<input type="text"
					placeholder="Please enter the city you would like to visit"
					size="50" />
		</form>
	</div>
	
	<div id="map_container"></div>
</div>